server:
  port: 8100
spring:
  application:
    name: book-service
  datasource:
    url: jdbc:mysql://localhost/book-service
    username: root
    password: Aqws-908

  jpa:
    properties:
      hibernate:
        format_sql: true
eureka:
  client:
    service-url:
      defaultZone:  http://localhost:8761/eureka